header{
    text-align:center;
    font-size:10px;
    min-height:100px;
    background-color:rgb(128, 199, 180);
    width:80%;
    margin:auto;
    border-bottom: 1px solid grey;
}
 header h1{
    font-size: 20px;
    margin-top: 20px;
    margin-left:0px
    
}
 #me{
    font-size:15px;
    font-family: Arial;
    margin:0;
    color:grey;
}
header a{ 
    text-decoration:none;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
}

header ul{
    margin:0;
    padding:o;
    
}

header li{
   float:left;
   display:inline;
   padding-left:70px;
   padding-right: 20px;
   margin-top: 50px;

   
}
.container .intra {
    background:rgba(124, 118, 118, 0.993);
    padding:2em;
      
} 
  .container{
    display:grid;
    grid-template-columns:1fr;
    grid-gap:1em;
    width:80%;
    margin:auto;
    overflow:hidden;
  }

 h2{
     color: rgb(12, 78, 80);
 }   
}
  .he-llo{
      font-size: 55px;
  }
  .sub-cont{
    display:grid;
    background: rgb(158, 154, 154);
    padding:2em;
    grid-gap:0em;  
  }    
  
    
 .address{
        font-size:15px;
        font-family:cursive;
  }  

.container .signs{
    padding: 10px;
    float:left;

}

.cont2 p{
    font-size: 20px;
    font-

}
footer{
    text-align:center;
    font-size:15px;
    min-height:180px;
    background-color:rgb(128, 199, 180);
    width:80%;
    margin:auto;
}
 
#boxes .box{
    float:left;
    width: 25%;
    text-align:center;
    padding-top: 20px;
    
}
 
.fothead{
    font-size: 15px;
}   

 h2 h3 h4{
    font-size:30px;
}
.title{
    font-size: 20px

}
.jobs{
    margin-top:0px;   
}
.ski-lls{
    font-size:25px;
    text-decoration:beige;
}
.title{
    font-size:18px;
}